[submodule "concept-drift-characterization"]
	path = concept-drift-characterization
	url = https://github.com/lennartebert/concept-drift-characterization.git
[submodule "process-complexity"]
	path = process-complexity
	url = https://github.com/lennartebert/process-complexity.git
