[submodule "concept-drift-characterization"]
	path = concept-drift-characterization
	url = https://github.com/lennartebert/concept-drift-characterization.git
[submodule "vidgof_complexity"]
	path = plugins/vidgof_complexity
	url = https://github.com/lennartebert/process-complexity.git
[submodule "cdrift_evaluation"]
	path = plugins/cdrift_evaluation
	url = https://github.com/lennartebert/cdrift-evaluation
