numpy~=1.24.1
networkx~=3.0
pandas~=1.5.3
pm4py~=2.4.1
tqdm~=4.64.1
scipy~=1.10.0
scikit-learn~=1.2.1
deprecation~=2.1.0
Wasserstein~=1.1.0
strsimpy~=0.2.1
seaborn~=0.12.2
matplotlib~=3.6.3
pytz~=2022.7.1
Levenshtein~=0.21.0
pulp~=3.2.1
argparse
BitVector
lempel_ziv_complexity
